<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=!, initial-scale=1.0">
    <title>Comapany Data</title>
    <style>
      body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Indian_Sweet_Dessert_Peda_in_a_white_bone_china_plate.jpg/1200px-Indian_Sweet_Dessert_Peda_in_a_white_bone_china_plate.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

    </style>
</head>

<body>
  <h1 style="color:rgb(180, 75, 75);">        Sweet Factory Data</h1>
    
        <a class="nav-link active" href="{% url 'Add' %}"><button id="1" type="button" style="color: rgb(3, 7, 8); background-color:thistle; ">Add The Person</button></a>
      <br>
      <br>
      
        <a class="nav-link active" href="{% url 'see' %}"><button id ="2" type="button" style="color: rgb(3, 7, 8); background-color:thistle;">View the Data</button></a>
      
</body>
</html>
