<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}


</style>
</head>
<body>


<table style="width:100%">
  <caption><h1>Company Data</h1></caption>
  <tr>
    <td>Person Name</th>
    <td>Items Taken</th>
    <td> Number of items</td>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{ item.PersonName }}</td>
    <td>{{ item.SweetName }}</td>
    <td>{{ item.Number }}</td>
  </tr>
{% endfor %}
  
</table>

</body>
</html>


